body {
	margin: 0;
	background: url('images/sticky.jpg');
	color: #FFFfff;
	background-attachment: fixed;
}

.heading-1-container {
	width: 100%;
	border: 2px solid #303952;
	margin-bottom: 15px;
}

.heading-2-container {
	width: 100%;
	border: 2px solid #546de5;
	margin-bottom: 15px;
}

.sticky {
	width: 100%;
	border: 5px solid #3dc1d3;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	text-align: center;
	color: blue;
	position: sticky;
	top: 10px;
}

.sticky h1 {
	margin: 0;
}




.heading-3-container {
	width: 100%;
	border: 2px solid #ff5252;
	margin-bottom: 15px;
	
}

.exception {
	width: 800px;
	padding: 20px;
	margin: auto;
	background: rgba(255,255,0, .2);
	border-radius: 50px;
	color: red;
}

img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin-bottom: 20px;
	opacity: 25%;
}
.img h1 {
	color: aqua;
	text-align: center;
}

.heading-1-container h1{
	margin: 15px;
}

.heading-2-container h1{
	margin: 15px;
}
